/* Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar{
  background-color: #3a3a3a;
  width: .5rem;
}
::-webkit-scrollbar-thumb{
  background-color: #dda200;
  border-radius: 3rem;
}
/* Body */

body {
  transition: .3s;
  background-color: #3a3a3a;
}

.container {
  height: 100%;
  background-image: url("Assets/patternDark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.nav {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  margin-bottom: 1rem;
  width: 20rem;
  transition: transform .3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
}

.mode {
  background: #ffbb00;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-left: 1rem;
  color: white;
  border: solid 3px white;
  filter: drop-shadow(4px 5px 3px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.mode:hover {
  background-color: #dda200;
}

/* CONTENT CONTAINER */

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LEFT CONTAINER */

.content-left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.secret-number{
  margin: 3rem 0;
  background-color: #ffbb00;
  color: white;
  width: 25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  border-radius: 50%;
  border: solid 5px white;
  filter: drop-shadow(4px 5px 3px rgba(0, 0, 0, 0.16));
}

/* RIGHT CONTAINER */

.scores{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 2rem;
}

.guessing-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: white;
}

.guessing-container h1{
  font-size: 3rem;
  font-weight: 500;
}

.guessing-container p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.user-guess{
  padding: 2rem 3rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  text-align: center;
  font-family: "poppins", sans-serif;
  color: #3a3a3a;
  font-size: 2rem;
}

/* Buttons Styling */

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.btn{
  background-color: #ffbb00;
  outline: none;
  width: 15rem;
  height: 5rem;
  color: white;
  font-family: "poppins", sans-serif;
  border: solid white 2px;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.btn:hover{
  background-color: #dda200;
}


.btn i{
  color: #1DE8ED;
  font-size: 2rem;
  margin-left: .5rem;
}

.buttons .second-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer{
  text-align: center;
  padding: 2rem 0 1rem 0;
  color: white;
  font-size: 1.4rem;
}

footer i{
  transition: all .3s ease-in-out;
  cursor: pointer;
}

footer i:hover{
  transform: scale(1.5);
  color: rgb(199, 199, 199);
}


/* Media Query */
@media screen and (min-width: 800px){
    .nav{
      flex-direction: row;
    }
    .user-guess{
      padding: 1rem 6rem;
    }
    .buttons{
      flex-direction: row;
    }
    .scores{
      font-size: 3rem;
    }
}

@media screen and (min-width: 1000px){
  .container{
    height: 100vh;
  }
  .content-container{
    flex-direction: row;
    justify-content: space-around;
  }
  .secret-number{
    width: 35rem;
    height: 35rem;
  }
  Footer{
    position: absolute;
    bottom: 0;
    right: 50%;  
  }
  .guessing-container{
    align-items: flex-start;
  }
  .content-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .user-guess{
    padding: 1rem 10.9rem;
  }
  .scores .score-number{
    margin-right: 5rem;
  }
}

/* Light Mode */
body.active{
  background-color: white;
}
body.active .secret-number{
  border-color: #707070;
  background-color: #1DE8ED;
  color: #707070;
}
body.active .mode{
  background-color: #1DE8ED;
  color: #707070;
  border-color: #707070;
}
body.active .btn{
  background-color: #1DE8ED;
  border-color: #707070;
  color: #707070;
}
body.active .btn i{
  color: #707070;
}
body.active .user-guess{
  border: 2px solid #707070;
}
body.active .scores{
  color: #707070;
}
body.active .guessing-container{
  color: #707070;
}
body.active footer{
  color: #707070;
}